.flexbox1{
    margin-top: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(54, 204, 54);
    border-radius: 20px;
    
}
ul{
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
li{
  list-style-type: none;
  margin-left: 50px;    
  font-size: 25px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.buttonhan{
    position: relative;
    top: 0px;
    left: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

.burttonclass{
    width: 88px;
    height: 42px;
    background-color: rgb(54, 204, 54);
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;

}
.dropdown{
    margin-left: 283px;
    border: 2px solid white;
    border-radius: 8px;
}
.navfirst{
    font-size: 35px;
    font-weight: bold;
}
li:hover{
    background-color: rgb(0, 255, 153);
    width: 100px;
    height: 50px;

}
.folder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    top: 9px;
    left: 109px;
    cursor: pointer;
}
.folder1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    top: 2px;
    left: 109px;
    cursor: pointer;
}
.arrowmove{
    position: relative;
    top: 19px;
    left: 131px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}